<template>
  <div id="app">
     <div class="container">
       <div class="section">
        <div class="column is-8 is-offset-2">
          <section class="hero is-danger is-bold is-small promo-block">
            <div class="hero-body">
              <div class="container">
                <div class="box">
            
            <div class="field is-grouped">
              <p class="control is-expanded">
                <input class="input" type="text" placeholder="Enter your name" v-model="name">
              </p>
              <p class="control">
                <a class="button is-info" @click="addName()">
                  Save user
                </a>
              </p>
            </div>
          </div>
              </div>
            </div>
          </section>
        
        </div>
        <div class="box" v-for="person of names" :key="person['.key']">

          <p class="person">
                    {{ person.name }}  &nbsp; 
                    <span class="tag is-warning" @click="editName(person['.key'])">Edit</span> 
                    <span class="tag is-danger" @click="removeName(person['.key'])">Revmove</span>
                  </p>

        </div>
       </div>
    </div>
  </div>
</template>

<script>
import { namesRef } from '../firebase'

export default {
  name: 'app',

  data () {
    return {
      name:'',
      currentId: null
    }
  },

  firebase: {
    names: namesRef
  },

  methods: {
    addName() {
      if(!this.currentId) {
        console.log('cool')
        namesRef.push(
          {
            name: this.name,
            edit: false
          }
        )
      }else {
        namesRef.child(this.currentId).set({name:this.name, edit: false})
      }
      this.name =''
  
    },

    removeName(id){
      namesRef.child(id).remove()
    },
    
    editName(id){
        namesRef.child(id).once('value').then((snapshot) => {
          this.name = snapshot.val().name
        })
        namesRef.child(id).update({edit: true})
        this.currentId = id;
        console.log(this.currentId)
    }
  }

}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}



ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}
.person span.tag {
  cursor: pointer;
}


</style>
